{#extends file='master/master.html'#}
{#block name=title#}wifi manage,account{#/block#}
{#block name=head#}
    <style type="text/css">
    .container-fluid{
      min-width: 700px;
    }
    </style>
{#/block#}
{#block name=centent#}
<div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
          日常日志<br/>
          {#$date1#}
          <div class="panel-btn">
                  <label class="panel-hid">收起</label>
                  <label class="panel-show">展开</label>
          </div>
      </div>
      <table class="table table-striped table-hover table-responsive">
          <thead>
            <tr>
                    <th>API</th>
                    <th>总PV</th>
                    <th>qps</th>
                    <th>平均占用内存</th>
                    <th>平均响应时间</th>
                    <th>占用总内存</th>
            </tr>
          </thead>
          <tbody>
              {#foreach item=list from=$smartLog1#}
              <tr>
                    <td>{#$list.api#}</td>
                    <td>{#$list.pv#}</td>
                    <td>{#$list.qps#}</td>
                    <td>{#$list.mem#}M</td>
                    <td>{#$list.time#}ms</td>
                    <td>{#$list.allmem#}G</td>
              </tr>  
              {#/foreach#}
          </tbody>
      </table>
    </div>
<div class="panel panel-default">
      <div class="panel-heading">
          日常日志<br/>
          {#$date2#}
          <div class="panel-btn">
                  <label class="panel-hid">收起</label>
                  <label class="panel-show">展开</label>
          </div>
      </div>
      <table class="table table-striped table-hover table-responsive">
          <thead>
            <tr>
                    <th>API</th>
                    <th>总PV</th>
                    <th>qps</th>
                    <th>平均占用内存</th>
                    <th>平均响应时间</th>
                    <th>占用总内存</th>
            </tr>
          </thead>
          <tbody>
              {#foreach item=list from=$smartLog2#}
              <tr>
                    <td>{#$list.api#}</td>
                    <td>{#$list.pv#}</td>
                    <td>{#$list.qps#}</td>
                    <td>{#$list.mem#}M</td>
                    <td>{#$list.time#}ms</td>
                    <td>{#$list.allmem#}G</td>
              </tr>  
              {#/foreach#}
          </tbody>
      </table>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
          日常日志<br/>
          {#$date3#}
          <div class="panel-btn">
                  <label class="panel-hid">收起</label>
                  <label class="panel-show">展开</label>
          </div>
      </div>
      <table class="table table-striped table-hover table-responsive">
          <thead>
            <tr>
                    <th>API</th>
                    <th>总PV</th>
                    <th>qps</th>
                    <th>平均占用内存</th>
                    <th>平均响应时间</th>
                    <th>占用总内存</th>
            </tr>
          </thead>
          <tbody>
              {#foreach item=list from=$smartLog3#}
              <tr>
                    <td>{#$list.api#}</td>
                    <td>{#$list.pv#}</td>
                    <td>{#$list.qps#}</td>
                    <td>{#$list.mem#}M</td>
                    <td>{#$list.time#}ms</td>
                    <td>{#$list.allmem#}G</td>
              </tr>  
              {#/foreach#}
          </tbody>
      </table>
    </div>
    
</div>
<script type="text/javascript">
$('.panel-hid').click(function(e){
      $(this).parent().find('.panel-show').show();
      $(this).hide();
      $(this).parent().parent().parent().find('table').stop().hide(500);
})
$('.panel-show').click(function(e){
      $(this).parent().find('.panel-hid').show();
      $(this).hide();
      $(this).parent().parent().parent().find('table').stop().show(500);
})
</script>
{#/block#}
